<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Android ToolSet </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="gray-bg">
<div class=" dashboard-header" style="background-color: #1ab394">
    <div class="text-center" style="padding: 6px">
        <span style="color: #ffffff; font-size: 30px; font-weight: 700">Android ToolSet</span>
    </div>
</div>
<form action="/index" method=post class="center-block container"
      style="padding-top: 30px; padding-bottom: 0px;width: 400px;font-size: 20px">
    <div>
        <label for="package"><b>请选择目标应用的包名</b></label>
        <input list="package"
               name="package"
               required="true"
               style="width: 100%"
               placeholder="----------">

        <datalist id="package">
            {% for app in app_list %}
            <option>{{ app.identifier + "---" + app.name }}</option>
            {% endfor %}
        </datalist>
    </div>
    <div class="form-group" >
        <fieldset>
            <legend>选择功能：</legend>
            <div>
                <input type="radio" id="privacy" name="type" value="privacy"
                       checked>
                <label for="privacy">api检测</label>
            </div>

            <div>
                <input type="radio" id="dewey" name="type" value="dewey">
                <label for="dewey">todo1</label>
            </div>

            <div>
                <input type="radio" id="louie" name="type" value="louie">
                <label for="louie">todo2</label>
            </div>
        </fieldset>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">启动</button>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>