<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Android ToolSet </title>
    <link rel="shortcut icon" href="https://dun.163.com/public/res/favicon.ico"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-treegrid/0.2.0/css/jquery.treegrid.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/theme/dracula.min.css"/>
</head>
<body class="gray-bg">
<div class="dashboard-header" style="background-color: #1ab394">
    <div class="col-sm-12 text-center" style="padding: 6px">
        <span style="color: #ffffff; font-size: 30px; font-weight: 700">Android ToolSet</span>
    </div>
</div>
<ul class="nav nav-pills mb-3 justify-content-center" style="padding-top: 6px" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-function-tab" data-toggle="pill" href="#pills-function" role="tab"
           aria-controls="pills-function" aria-selected="true">协议展示</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-fields-tab" data-toggle="pill" href="#pills-fields" role="tab"
           aria-controls="pills-fields" aria-selected="false">函数展示</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-hook-tab" data-toggle="pill" href="#pills-hook" role="tab"
           aria-controls="pills-hook" aria-selected="false">标记展示</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-protocol-tab" data-toggle="pill" href="#pills-protocol" role="tab"
           aria-controls="pills-protocol" aria-selected="false">内存展示</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-static-tab" data-toggle="pill" href="#pills-static" role="tab"
           aria-controls="pills-static" aria-selected="false">静态内存</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-lua-tab" data-toggle="pill" href="#pills-lua" role="tab"
           aria-controls="pills-lua" aria-selected="false">lua展示</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-tools-tab" data-toggle="pill" href="#pills-tools" role="tab"
           aria-controls="pills-tools" aria-selected="false">自定义</a>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-function" role="tabpanel" aria-labelledby="pills-function-tab">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 vh-100" style="overflow:auto;">
                    <table class="table table-hover table-bordered" style="word-break:break-all"
                           id="function_index_table">
                    </table>
                </div>
                <div class="col-sm-6 vh-100" style="overflow:auto;">
                    <div class="row justify-content-end" style="padding: 10px">
                        <button type="button" class="btn btn-primary" style="margin-right: 15px"
                                onclick=closeHook()>关闭hook
                        </button>
                        <button type="button" class="btn btn-primary" style="margin-right: 15px"
                                onclick=sendValueAgain()>重发
                        </button>
                        <button type="button" class="btn btn-primary" style="margin-right: 15px"
                                onclick=sendValue()>配置
                        </button>
                    </div>
                    <table class="table table-hover table-bordered" style="word-break:break-all"
                           id="function_value_table">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-fields" role="tabpanel" aria-labelledby="pills-fields-tab">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 vh-100" style="overflow:auto;">
                    <table class="table table-hover table-bordered" style="word-break:break-all"
                           id="function_image_table">
                    </table>
                </div>
                <div class="col-4 vh-100" style="overflow:auto;">
                    <table class="table table-hover table-bordered" style="word-break:break-all"
                           id="function_class_table">
                    </table>
                </div>
                <div class="col-2 vh-100" style="overflow:auto;">
                    <table class="table table-hover table-bordered" style="word-break:break-all"
                           id="function_method_table">
                    </table>
                </div>
                <div class="col-4 vh-100" style="overflow:auto;">
                    <div class="row justify-content-end" style="padding: 10px">
                        <button type="button" class="btn btn-primary" style="margin-right: 15px"
                                onclick=hookFunction()>标记
                        </button>
                        <button type="button" class="btn btn-primary" style="margin-right: 15px"
                                onclick=sendFunctionValueAgain()>重发
                        </button>
                        <button type="button" class="btn btn-primary" style="margin-right: 15px"
                                onclick=sendFunctionValue()>配置
                        </button>
                    </div>
                    <table class="table table-hover table-bordered" style="word-break:break-all"
                           id="function_method_value_table">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-protocol" role="tabpanel" aria-labelledby="pills-protocol-tab">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 vh-100" style="overflow:auto;">
                    <table class="table table-hover table-bordered" style="word-break:break-all"
                           id="field_image_table">
                    </table>
                </div>
                <div class="col-3 vh-100" style="overflow:auto;">
                    <table class="table table-hover table-bordered" style="word-break:break-all"
                           id="field_class_table">
                    </table>
                </div>
                <div class="col-1 vh-100" style="overflow:auto;">
                    <table class="table table-hover table-bordered" style="word-break:break-all"
                           id="field_instance_table">
                    </table>
                </div>
                <div class="col-6 vh-100" style="overflow:auto;">
                    <table class="table table-hover table-bordered" style="word-break:break-all"
                           id="field_table">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-static" role="tabpanel" aria-labelledby="pills-protocol-tab">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 vh-100" style="overflow:auto;">
                    <table class="table table-hover table-bordered" style="word-break:break-all"
                           id="static_image_table">
                    </table>
                </div>
                <div class="col-4 vh-100" style="overflow:auto;">
                    <table class="table table-hover table-bordered" style="word-break:break-all"
                           id="static_class_table">
                    </table>
                </div>
                <div class="col-6 vh-100" style="overflow:auto;">
                    <table class="table table-hover table-bordered" style="word-break:break-all"
                           id="static_table">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-lua" role="tabpanel" aria-labelledby="pills-lua-tab">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 vh-100" style="overflow:auto;">
                    <table class="table table-hover table-bordered" style="word-break:break-all"
                           id="lua_exist_table">
                    </table>
                </div>
                <div class="col-6 vh-100" style="overflow:auto;">
                    <div class="card bg-light mb-3" style="width: 36rem; margin: 10px">
                        <div class="card-body">
                            <h5 class="card-title">Step1: Lua pull</h5>
                            <p class="card-text">将私有目录下的 Lua 文件 pull 到 tools/luadump 目录下</p>
                            <button type="button" class="btn btn-primary" onclick="lua_pull()">确定</button>
                        </div>
                    </div>
                    <div class="card bg-light mb-3" style="width: 36rem; margin: 10px">
                        <div class="card-body">
                            <h5 class="card-title">Step2: Lua 解密</h5>
                            <p class="card-text">对 tools/luadump 目录下的 lua 文件进行解密后迁移到 tools/unlua 目录下<br>
                                不解密则不进行操作</p>
                            <button type="button" class="btn btn-primary" onclick="lua_decrypt()">解密</button>
                        </div>
                    </div>
                    <div class="card bg-light mb-3" style="width: 36rem; margin: 10px">
                        <div class="card-body">
                            <h5 class="card-title">Step3: Lua push</h5>
                            <p class="card-text">将 tools/unlua 目录下的单个 lua 文件 push 到私有目录下<br>
                                不解密则选择 tools/luadump 目录<br>
                                请输入绝对路径</p>
                            <input type="text" class="form-control" id="lua_push_file" placeholder="请输入绝对路径"/>
                            <button type="button" class="btn btn-primary" style="margin-top: 10px" onclick="lua_push()">
                                确定
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-hook" role="tabpanel" aria-labelledby="pills-hook-tab">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 vh-100" style="overflow:auto;">
                    <table class="table table-hover table-bordered" style="word-break:break-all"
                           id="hook_method_table">
                    </table>
                </div>
                <div class="col-6 vh-100" style="overflow:auto;">
                    <div class="row justify-content-end" style="padding: 10px">
                        <button type="button" class="btn btn-primary" style="margin-right: 15px"
                                onclick=closeFunctionHook()>关闭hook
                        </button>
                    </div>
                    <table class="table table-hover table-bordered" style="word-break:break-all"
                           id="hook_method_value_table">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-tools" role="tabpanel" aria-labelledby="pills-hook-tab">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 center-block container">
                    <textarea id="load_frida_script"></textarea>
                    <center>
                        <div class="form-check" style="margin-top: 6px">
                            <input type="checkbox" name="is_type_script" class="form-check-input"
                                   id="is_type_script">
                            <label class="form-check-label" for="is_type_script">Is typeScript?</label>
                        </div>
                        <input style="margin: 6px" type="button" value="Run Custom Frida Script" class="btn btn-success"
                               onclick="frida_custom_script()">
                    </center>
                    <textarea id="log_frida_script"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-table/1.13.0/extensions/treegrid/bootstrap-table-treegrid.js"></script>
<script src="https://cdn.bootcss.com/jquery-treegrid/0.2.0/js/jquery.treegrid.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/mode/javascript/javascript.js"></script>
<script>
    const image_columns = [
        {
            field: 'name',
            title: 'image名',
            escape: true
        }];
    const class_columns = [
        {
            field: 'name',
            title: 'class名',
            escape: true
        }, {
            field: 'nameSpace',
            title: '命名空间',
            escape: true
        }];
    const function_columns = [
        {
            field: 'name',
            title: '函数名',
            escape: true
        }];
    const function_value_columns = [
        {
            field: 'name',
            title: '名称'
        }, {
            field: 'value',
            title: '设置值',
            formatter: function (value, row, index) {
                if (index == 0) {
                    return ''
                }
                return `<div class="input-group mb-3">
  <input id="proto_function_value_text${index}" type="text" class="form-control" placeholder=${value}>
  <div class="input-group-append">
    <button class="btn btn-xs btn-success" title="修改" onclick=auditFunctionValue(${index})>修改</button>
  </div>
</div>`
            }
        }];
    let audit_function_value = new Map()
    let select_function_value
    let select_image_value
    let select_class_value

    function hookFunction() {
        if (!select_function_value || !select_image_value || !select_class_value) {
            alert("请选择对应的函数")
            return
        }
        const image_name = select_image_value.name;
        const class_nameSpace = select_class_value.nameSpace;
        const class_name = select_class_value.name;
        $.ajax({
            url: '/hook_method_info',
            type: 'POST',
            data: {
                "img_name": image_name,
                "nameSpace": class_nameSpace,
                "class_name": class_name,
                "method": select_function_value,
            },
            dataType: 'json',
            success: function (res) {
                alert("配置成功")
            },
            error: function (res) {
                alert("配置失败")
            }
        });
    }

    //TODO 函数重发
    function sendFunctionValueAgain() {
        if (!select_function_value || !select_image_value || !select_class_value) {
            alert("请选择对应的函数")
            return
        }
        const image_name = select_image_value.name;
        const class_nameSpace = select_class_value.nameSpace;
        const class_name = select_class_value.name;
        const method_name = select_function_value.name

        function getFunctionValue() {
            let put_function_value = []
            for (let [key, value] of audit_function_value) {
                if (key == -1) {
                    continue
                }
                if (key == select_function_value.parameters.length) {
                    continue
                }
                put_function_value.push(value)
            }
            return put_function_value
        }


        function charge_param_value(isParam) {
            const param_value = getFunctionValue().toString()
            if (isParam) {
                if (param_value) {
                    return `nativeFunction(env, ${param_value});`;
                } else {
                    return `nativeFunction(env);`;
                }
            } else {
                if (param_value) {
                    return `nativeFunction(${param_value});`;
                } else {
                    return `nativeFunction();`;
                }
            }
        }

        function chargeNameSpace() {
            if (class_nameSpace) {
                return `const target_method = target_image.getClass('${class_nameSpace}', '${class_name}').methods['${method_name}'];`
            } else {
                return `const target_method = target_image.classes['${class_name}'].methods['${method_name}'];`
            }
        }

        const script = `
    const target_image = Il2Cpp.Domain.assemblies['${image_name}'].image;
     ${chargeNameSpace()}
    const nativeFunction = new NativeFunction(target_method.virtualAddress, target_method.returnType.fridaAlias, target_method.fridaSignature);
    if (target_method.isStatic) {
        if (Unity.isBelow2018_3_0) {
            const env = Java.vm.tryGetEnv();
            ${charge_param_value(true)}
        }else{
           ${charge_param_value(false)}
        }
    } else {
        const env = Java.vm.tryGetEnv();
         ${charge_param_value(true)}
    }
`
        $.ajax({
            url: '/injection_custom',
            type: 'POST',
            data: {
                "script": script,
            },
            dataType: 'json',
            success: function (res) {
                alert("配置成功")
            },
            error: function (res) {
                alert("配置失败")
            }
        });
    }

    function sendFunctionValue() {
        let put_function_value = []
        let function_return_value
        for (let [key, value] of audit_function_value) {
            if (key == -1) {
                continue
            }
            if (key == select_function_value.parameters.length) {
                function_return_value = value
                continue
            }
            put_function_value.push({
                "name": key,
                "value": value,
            })
        }
        if (put_function_value.length < 1 && function_return_value == null) {
            alert("请输入要修改的值")
            return
        }

        function chargeArgsParam() {
            let args = ""
            for (let index in put_function_value) {
                const param = put_function_value[index]
                args += `args[${param.name}]=ptr(${param.value});\n`
            }
            return args
        }

        function chargeReturnParam() {
            if (function_return_value) {
                return `retval.replace(${function_return_value})`
            } else {
                return ""
            }
        }

        const script = `Interceptor.attach(ptr(${select_function_value.addr}), {
          onEnter: function (args) {
              ${chargeArgsParam()}
           },
          onLeave: function (retval) {
              ${chargeReturnParam()}
           }
         });
`
        $.ajax({
            url: '/custom_script',
            type: 'POST',
            data: {
                "script": script,
            },
            dataType: 'json',
            success: function (res) {
                alert("配置成功")
            },
            error: function (res) {
                alert("配置失败")
            }
        });
    }

    function auditFunctionValue(param) {
        if (!($(`#proto_function_value_text${param}`).val())) {
            alert("请重新输入")
            return
        }
        const value = $(`#proto_function_value_text${param}`).val()
        audit_function_value.set(param - 1, value)
    }

    $('#function_class_table').bootstrapTable({
        columns: class_columns,
        search: true,
        strictSearch: false,
    });
    $('#function_method_table').bootstrapTable({
        search: true,
        strictSearch: false,
        columns: function_columns,
    });
    $('#function_method_value_table').bootstrapTable({
        columns: function_value_columns,
    });


    function function_value_show(data) {
        let showValue = []
        showValue.push({
            "name": data.modifier + " " + data.className + " " + data.name
        })
        for (let index in data.parameters) {
            const param = data.parameters[index]
            showValue.push({
                "name": param.type + " " + param.name
            })
        }
        showValue.push({
            "name": "函数返回值" + " " + data.className
        })
        return showValue
    }


    $('#function_image_table').bootstrapTable({
        columns: image_columns,
        url: "images",
        method: 'GET',
        search: true,
        strictSearch: false,
        onClickRow: function (row, $element, field) {
            select_image_value = row;
            $('#function_class_table').bootstrapTable('destroy');
            $('#function_class_table').bootstrapTable({
                url: "classes",
                method: 'POST',
                search: true,
                strictSearch: false,
                columns: class_columns,
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                queryParams: function (params) {
                    params.addr = row.addr;
                    return params;
                },
                onClickRow: function (row2, $element, field) {
                    select_class_value = row2;
                    $('#function_method_table').bootstrapTable('destroy');
                    $('#function_method_table').bootstrapTable({
                        url: "methods",
                        method: 'POST',
                        search: true,
                        strictSearch: false,
                        columns: function_columns,
                        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        queryParams: function (params) {
                            params.addr = row2.addr;
                            return params;
                        },
                        onClickRow: function (row3, $element, field) {
                            select_function_value = row3
                            audit_function_value.clear()
                            $('#function_method_value_table').bootstrapTable('destroy');
                            $('#function_method_value_table').bootstrapTable({
                                data: function_value_show(row3),
                                columns: function_value_columns,
                            });
                        }
                    });

                }
            });

        },
        onLoadSuccess: function (data) {
            field_start(data)
            static_field_start(data)
        }
    });
</script>
<script>
    const socket = io.connect()
    let proto_data_index = 1
    let push_pid_param_map = new Map()
    let push_pid_param_num
    let select_value
    socket.on('il2cpp_proto_classes_result', function (msg) {
        if (msg.data.length) {
            const parseData = JSON.parse(msg.data)
            parseData.id = proto_data_index
            parseData.time = get_time()
            const push_pid_data = parseData["proto_class"] + parseData["img_name"] + parseData["nameSpace"]
            if (push_pid_param_map.has(push_pid_data)) {
                push_pid_param_num = push_pid_param_map.get(push_pid_data)
            } else {
                push_pid_param_map.set(push_pid_data, proto_data_index)
                push_pid_param_num = 0
            }
            parseData.pid = push_pid_param_num
            $('#function_index_table').bootstrapTable(
                'insertRow', {
                    index: proto_data_index, row: parseData
                }
            );
            proto_data_index++
        }
    });

    Date.prototype.format = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1,                 //月份
            "d+": this.getDate(),                    //日
            "h+": this.getHours(),                   //小时
            "m+": this.getMinutes(),                 //分
            "s+": this.getSeconds(),                 //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds()             //毫秒
        };
        if (/(y+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        }
        for (var k in o) {
            if (new RegExp("(" + k + ")").test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            }
        }
        return fmt;
    }

    function get_time() {
        return new Date().format("yyyy-MM-dd hh:mm:ss")
    }

    const index_columns = [
        {
            field: "id",
            title: '序号',
            width: 100
        }, {
            field: 'proto_class',
            title: '协议类'
        }, {
            field: 'nameSpace',
            title: 'namespace'
        }, {
            field: 'img_name',
            title: 'image'
        }, {
            field: 'time',
            title: '时间'
        }];
    const value_columns = [
        {
            field: "name",
            title: '参数名称'
        }, {
            field: 'type_value',
            title: '类型'
        }, {
            field: 'value',
            title: '参数值',
            formatter: function (value, row, index) {
                return `<div class="input-group mb-3">
  <input id="proto_value_text${index}" type="text" class="form-control" placeholder=${value}>
  <div class="input-group-append">
    <button class="btn btn-xs btn-success" title="复制" onclick=copyValue(${value})>复制</button>
    <button class="btn btn-xs btn-success" title="修改" onclick=auditValue(${index})>修改</button>
  </div>
</div>`;
            },
        }];

    function copyValue(value) {
        alert(value)
    }

    let audit_value = new Map()

    function auditValue(param) {
        if (!($(`#proto_value_text${param}`).val())) {
            alert("请重新输入")
            return
        }
        const value = $(`#proto_value_text${param}`).val()
        audit_value.set(param, value)
    }

    function chargeField(fieldType, fieldValue) {
        switch (fieldType) {
            case "bool":
                return fieldValue == "true";
            case "int8":
            case "uint8":
            case "int16":
            case "uint16":
            case "int32":
            case "uint32":
            case "int64":
            case "uint64":
                return parseInt(fieldValue);
            case "uchar":
                return fieldValue.charAt(0);
            case "float":
            case "double":
                return parseFloat(fieldValue);
            default :
                return fieldValue;
        }
    }

    //TODO 协议重发
    function sendValueAgain() {
        alert("重发需额外分析单个协议的调用流程并进行主动调用")
    }

    function closeHook() {
        if (select_value == null) {
            alert("请选择具体的协议")
            return
        }
        $.ajax({
            url: '/protocol_detach',
            type: 'POST',
            data: {
                "img_name": select_value.img_name,
                "nameSpace": select_value.nameSpace,
                "proto_class": select_value.proto_class,
                "proto_type": select_value.proto_type,
            },
            dataType: 'json',
            success: function (res) {
                alert("配置成功")
            },
            error: function (res) {
                alert("配置失败")
            }
        });
    }

    function sendValue() {
        let put_field_value = []
        for (let [key, value] of audit_value) {
            const field = select_value.field[key]
            put_field_value.push({
                "name": field.name,
                "value": chargeField(field.type_value, value),
                "type_value": field.type_value,
            })
        }
        if (put_field_value.length < 1) {
            alert("请输入要修改的值")
            return
        }
        $.ajax({
            url: '/injection_field',
            type: 'POST',
            data: {
                "img_name": select_value.img_name,
                "nameSpace": select_value.nameSpace,
                "proto_class": select_value.proto_class,
                "proto_type": select_value.proto_type,
                "fields": put_field_value,
                "fieldsInfo": select_value.field
            },
            dataType: 'json',
            success: function (res) {
                alert("配置成功")
            },
            error: function (res) {
                alert("配置失败")
            }
        });
    }

    $('#function_value_table').bootstrapTable({
        columns: value_columns,
    });
    $('#function_index_table').bootstrapTable({
        columns: index_columns,
        search: true,
        strictSearch: false,
        idField: 'id',
        treeShowField: 'id',
        parentIdField: 'pid',
        onResetView: function (data) {
            $('#function_index_table').treegrid({
                initialState: 'collapsed',
                treeColumn: 0,
                onChange: function () {
                    $('#function_index_table').bootstrapTable('resetWidth');
                }
            });
        },
        onClickRow: function (row, $element, field) {
            audit_value.clear()
            select_value = row
            $('#function_value_table').bootstrapTable('destroy');
            $('#function_value_table').bootstrapTable({
                data: row.field,
                columns: value_columns,
            });

        }
    });
</script>
<script>
    const field_columns = [
        {
            field: "name",
            title: '参数名称'
        },
        {
            field: 'fieldName',
            title: '类型'
        },
        {
            field: 'fieldModifier',
            title: '修饰符'
        }, {
            field: 'fieldValue',
            title: '参数值',
            formatter: function (value, row, index) {
                return `<div class="input-group mb-3">
  <input id="field_value_text${index}" type="text" class="form-control" placeholder=${value}>
  <div class="input-group-append">
    <button class="btn btn-xs btn-success" title="修改" onclick=auditFieldValue(${index})>修改</button>
  </div>
</div>`;
            },
        }
    ];

    let select_field

    //TODO 内存展示与修改
    function auditFieldValue(param) {
        if (!($(`#field_value_text${param}`).val())) {
            alert("请重新输入")
            return
        }
        const value = $(`#field_value_text${param}`).val()
        const target_field = select_field[param]
        if (target_field.fieldModifier.indexOf("static") != -1) {
            $.ajax({
                url: '/hook_field',
                type: 'POST',
                data: {
                    "addr": target_field.field,
                    "type": target_field.fieldTypeGetType,
                    "value": value,
                },
                dataType: 'json',
                success: function (res) {
                    alert("配置成功")
                },
                error: function (res) {
                    alert("配置失败")
                }
            });
        } else {
            $.ajax({
                url: '/il2cpp_hook_field_instance',
                type: 'POST',
                data: {
                    "addr": target_field.valueAddress,
                    "type": target_field.fieldTypeGetType,
                    "value": value,
                },
                dataType: 'json',
                success: function (res) {
                    alert("配置成功")
                },
                error: function (res) {
                    alert("配置失败")
                }
            });
        }
    }

    function field_start(data) {
        $('#field_image_table').bootstrapTable({
            columns: image_columns,
            search: true,
            strictSearch: false,
            data: data,
            onClickRow: function (row, $element, field) {
                $('#field_class_table').bootstrapTable('destroy');
                $('#field_class_table').bootstrapTable({
                    url: "classes",
                    method: 'POST',
                    search: true,
                    strictSearch: false,
                    columns: class_columns,
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    queryParams: function (params) {
                        params.addr = row.addr;
                        return params;
                    },
                    onClickRow: function (row2, $element, field) {
                        $('#field_instance_table').bootstrapTable('destroy');
                        $('#field_instance_table').bootstrapTable({
                            url: "search_class_instance",
                            method: 'POST',
                            search: true,
                            strictSearch: false,
                            columns: field_instance_columns,
                            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                            queryParams: function (params) {
                                params.addr = row2.addr;
                                return params;
                            },
                            onClickRow: function (row3, $element, field) {
                                $('#field_table').bootstrapTable('destroy');
                                $('#field_table').bootstrapTable({
                                    url: "fields",
                                    method: 'POST',
                                    columns: field_columns,
                                    search: true,
                                    strictSearch: false,
                                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                                    queryParams: function (params) {
                                        params.addr = row3.addr;
                                        params.class_instance = row3.class_instance;
                                        return params;
                                    },
                                    onLoadSuccess: function (data) {
                                        select_field = data
                                    }
                                });

                            }
                        });
                    }
                });

            },
        });
    }

    $('#field_class_table').bootstrapTable({
        search: true,
        strictSearch: false,
        columns: class_columns,
    });

    const field_instance_columns = [
        {
            field: 'class_instance',
            title: '实例',
            escape: true
        }];

    $('#field_instance_table').bootstrapTable({
        search: true,
        strictSearch: false,
        columns: field_instance_columns,
    });
    $('#field_table').bootstrapTable({
        columns: field_columns,
        search: true,
        strictSearch: false,
    });
</script>
<script>
    let lua_pull_need_show = [];
    let lua_pull_need_show_index = 0
    socket.on('unity_dump_lua_exist', function (msg) {
        if (msg.data.length) {
            const parseData = JSON.parse(msg.data)
            if (lua_pull_need_show.indexOf(parseData.name) != -1) {
                parseData.time = get_time()
                $('#lua_exist_table').bootstrapTable(
                    'insertRow', {
                        index: lua_pull_need_show_index, row: parseData
                    }
                );
                lua_pull_need_show_index++
            }
        }
    });
    const lua_columns = [
        {
            field: 'name',
            title: 'lua文件名',
            escape: true
        },
        {
            field: 'time',
            title: '时间',
            escape: true
        }];
    $('#lua_exist_table').bootstrapTable({
        columns: lua_columns,
        search: true,
        strictSearch: false,
    });

    function lua_pull() {
        $.ajax({
            url: '/dump_lua',
            type: 'GET',
            dataType: 'json',
            success: function (res) {
                alert("Push成功")
            },
            error: function (res) {
                alert("Push失败")
            }
        });
    }

    function lua_decrypt() {
        $.ajax({
            url: '/dump_lua_decrypt',
            type: 'GET',
            dataType: 'json',
            success: function (res) {
                alert("解密成功")
            },
            error: function (res) {
                alert("解密失败")
            }
        });
    }

    function lua_push() {
        if (!($('#lua_push_file').val())) {
            alert("请重新输入")
            return
        }
        const put_file_path = $('#lua_push_file').val();
        let new_put_file_path
        if (put_file_path.indexOf("\\tools\\unlua") !== -1) {
            new_put_file_path = put_file_path.substring(put_file_path.indexOf("\\tools\\unlua") + 13).replaceAll("\\", "/")
        } else if (put_file_path.indexOf("\\tools\\luadump") !== -1) {
            new_put_file_path = put_file_path.substring(put_file_path.indexOf("\\tools\\luadump") + 15).replaceAll("\\", "/")
        }
        lua_pull_need_show.push(new_put_file_path)
        $.ajax({
            url: '/revise_lua',
            type: 'POST',
            data: {
                "lua_path": put_file_path,
                "file_name": new_put_file_path,
            },
            dataType: 'json',
            success: function (res) {
                alert("配置成功")
            },
            error: function (res) {
                alert("配置失败")
            }
        });
    }
</script>
<script>
    let hook_method_index = 0
    let select_hook_method_value
    socket.on('il2cpp_hook_function_result', function (msg) {
        if (msg.data.length) {
            const parseData = JSON.parse(msg.data)
            parseData.time = get_time()
            $('#hook_method_table').bootstrapTable(
                'insertRow', {
                    index: hook_method_index, row: parseData
                }
            );
            hook_method_index++
        }
    });
    const hook_method_columns = [
        {
            field: 'method',
            title: 'method',
            escape: true
        },
        {
            field: 'class_name',
            title: 'class',
            escape: true
        },
        {
            field: 'nameSpace',
            title: 'nameSpace',
            escape: true
        },
        {
            field: 'img_name',
            title: 'image',
            escape: true
        },
        {
            field: 'time',
            title: '时间',
            escape: true
        }];

    function closeFunctionHook() {
        if (select_hook_method_value == null) {
            alert("请选择具体的函数")
            return
        }
        $.ajax({
            url: '/function_detach',
            type: 'POST',
            data: {
                "img_name": select_hook_method_value.img_name,
                "nameSpace": select_hook_method_value.nameSpace,
                "class_name": select_hook_method_value.class_name,
                "method": select_hook_method_value.method,
            },
            dataType: 'json',
            success: function (res) {
                alert("配置成功")
            },
            error: function (res) {
                alert("配置失败")
            }
        });
    }

    function hook_method_value_show(data) {
        let showValue = []
        for (let index in data.param) {
            const param_data = data.param[index]
            showValue.push({
                "name": "参数 " + param_data.type + " " + param_data.name,
                "value": param_data.value
            })
        }
        for (let index in data.field) {
            const param_data = data.field[index]
            showValue.push({
                "name": "内存 " + param_data.type + " " + param_data.name,
                "value": param_data.value
            })
        }
        showValue.push({
            "name": "函数返回值",
            "value": data.return
        })
        return showValue
    }

    const hook_method_value_columns = [
        {
            field: 'name',
            title: '名称'
        }, {
            field: 'value',
            title: '设置值',
            formatter: function (value, row, index) {
                return `<div class="input-group mb-3">
  <input id="hook_method_value_text${index}" type="text" class="form-control" placeholder=${value}>
  <div class="input-group-append">
    <button class="btn btn-xs btn-success" title="复制" onclick=copyValue(${value})>复制</button>
  </div>
</div>`
            }
        }];
    $('#hook_method_value_table').bootstrapTable({
        columns: hook_method_value_columns,
    });
    $('#hook_method_table').bootstrapTable({
        columns: hook_method_columns,
        search: true,
        strictSearch: false,
        onClickRow: function (row, $element, field) {
            select_hook_method_value = row
            $('#hook_method_value_table').bootstrapTable('destroy');
            $('#hook_method_value_table').bootstrapTable({
                data: hook_method_value_show(row),
                columns: hook_method_value_columns,
            });
        }
    });

</script>
<script>
    const editor = CodeMirror.fromTextArea(load_frida_script, {
        mode: 'javascript',
        theme: 'dracula',
    });
    editor.setSize("100%", 400);

    const editor_log = CodeMirror.fromTextArea(log_frida_script, {
        lineNumbers: true,
        mode: 'javascript',
        theme: 'dracula',
        readOnly: true
    });
    editor_log.setSize("100%", 300);

    editor_log.setCursor(editor_log.lineCount(), 0);

    socket.on('heap_search', function (msg) {
        if (msg.data.length) {
            editor_log.setValue(editor_log.getValue() + msg.data + "\n");
            editor_log.setCursor(editor_log.lineCount(), 0)
        }
    });

    function frida_custom_script() {
        $.ajax({
            url: '/load_frida_script',
            type: 'POST',
            data: {
                "frida_custom_script": editor.getValue(),
                "is_type_script": $('#is_type_script').is(':checked') ? "ts" : "js",
            },
            dataType: 'json',
            success: function (res) {
                alert("配置成功")
            },
            error: function (res) {
                alert("配置失败")
            }
        });
    }
</script>
<script>
    const static_columns = [
        {
            field: "name",
            title: '参数名称'
        },
        {
            field: 'fieldName',
            title: '类型'
        },
        {
            field: 'fieldModifier',
            title: '修饰符'
        }, {
            field: 'fieldValue',
            title: '参数值',
            formatter: function (value, row, index) {
                return `<div class="input-group mb-3">
  <input id="field_static_value_text${index}" type="text" class="form-control" placeholder=${value}>
  <div class="input-group-append">
    <button class="btn btn-xs btn-success" title="修改" onclick=auditStaticValueFieldValue(${index})>值修改</button>
    <button class="btn btn-xs btn-success" title="修改" onclick=auditStaticFieldValue(${index})>修改</button>
  </div>
</div>`;
            },
        }
    ];

    let select_static_field

    //TODO 内存展示与修改
    function auditStaticFieldValue(param) {
        if (!($(`#field_static_value_text${param}`).val())) {
            alert("请重新输入")
            return
        }
        const value = $(`#field_static_value_text${param}`).val()
        const target_field = select_static_field[param]
        if (target_field.fieldModifier.indexOf("static") != -1) {
            $.ajax({
                url: '/hook_field',
                type: 'POST',
                data: {
                    "addr": target_field.field,
                    "type": target_field.fieldTypeGetType,
                    "value": value,
                },
                dataType: 'json',
                success: function (res) {
                    alert("配置成功")
                },
                error: function (res) {
                    alert("配置失败")
                }
            });
        } else {
            alert("请选择静态内存进行修改")
        }
    }

    function auditStaticValueFieldValue(param) {
        if (!($(`#field_static_value_text${param}`).val())) {
            alert("请重新输入")
            return
        }
        const value = $(`#field_static_value_text${param}`).val()
        const target_field = select_static_field[param]
        if (target_field.fieldModifier.indexOf("static") != -1 && target_field.fieldName == "String") {
            $.ajax({
                url: '/hook_field_value',
                type: 'POST',
                data: {
                    "addr": target_field.valueAddress,
                    "type": target_field.fieldTypeGetType,
                    "value": value,
                },
                dataType: 'json',
                success: function (res) {
                    alert("配置成功")
                },
                error: function (res) {
                    alert("配置失败")
                }
            });
        } else {
            alert("请选择静态内存以及字符串进行修改")
        }
    }

    function static_field_start(data) {
        $('#static_image_table').bootstrapTable({
            columns: image_columns,
            search: true,
            strictSearch: false,
            data: data,
            onClickRow: function (row, $element, field) {
                $('#static_class_table').bootstrapTable('destroy');
                $('#static_class_table').bootstrapTable({
                    url: "classes",
                    method: 'POST',
                    search: true,
                    strictSearch: false,
                    columns: class_columns,
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    queryParams: function (params) {
                        params.addr = row.addr;
                        return params;
                    },
                    onClickRow: function (row2, $element, field) {
                        $('#static_table').bootstrapTable('destroy');
                        $('#static_table').bootstrapTable({
                            url: "fields",
                            method: 'POST',
                            columns: static_columns,
                            search: true,
                            strictSearch: false,
                            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                            queryParams: function (params) {
                                params.addr = row2.addr;
                                params.class_instance = "";
                                return params;
                            },
                            onLoadSuccess: function (data) {
                                select_static_field = data
                            }
                        });
                    }
                });

            },
        });
    }

    $('#static_class_table').bootstrapTable({
        search: true,
        strictSearch: false,
        columns: class_columns,
    });

    $('#static_table').bootstrapTable({
        columns: static_columns,
        search: true,
        strictSearch: false,
    });
</script>
</body>
</html>